<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<!--viewport-fit=cover:Fill the whole screen on iPhone X-->
	<meta charset="utf-8" name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
	<title>PhiTogether</title>
	<link rel="manifest" href="/manifest.json">
	
	
	<meta name='description' content='PhiTogether: 将多人游戏与Phigros玩法结合起来！集成PhiZone且拥有自有社区谱面。Bringing multiplayer to Phigros gameplay! An rhythm game with PhiZone intergrated and its own chart library.'>
	<meta name='keyword' content='PhiTogether, PhiZone'>
	<meta name="author" content="Team PhiTogether">
	
	<script>
		function setBgScale() { document.getElementsByClassName("background").width = document.getElementsByClassName("background").height = `${((Math.sqrt((window.innerHeight / 2) ** 2 + (window.innerWidth / 2) ** 2) + 1) / (window.innerHeight / 2)) * 100}%`; }
		window.addEventListener("resize", setBgScale, true);
	</script>
	<script>
		window.spec = {
			thisVersion: "((.ver))",
			isAppleDevice: navigator.userAgent.includes('iPhone OS') || navigator.userAgent.includes('iPad OS') || navigator.userAgent.includes('Mac OS X'),
			isPhiTogetherApp: navigator.userAgent.includes('PhiTogetherApp'),
			isDesktop: !(navigator.userAgent.includes("Mobile") || navigator.userAgent.includes("Android")),
		};
		window.spec.isAndroidApp = !window.spec.isAppleDevice && window.spec.isPhiTogetherApp;
		window.spec.isiOSDevice = window.spec.isAppleDevice && !navigator.userAgent.includes('Mac OS X');
		// 节日活动
		const partyMgr = {
			list: {
				aprfool2023: {
					get activate() {
						const start = new Date("2023/03/31 23:00:00");
						const end = new Date("2023/04/03 00:00:00");
						const now = new Date();
						return (now >= start) && (now <= end);
					},
					songData: {
						"id": "PTSpecialAprFool2023Song",
						"charts": [{
							"id": "PTSpecialAprFool2023",
							"song": "PTSpecialAprFool2023Song",
							"charter": "KKKKKK3\\ /1N fixed by kev\\1/nweng",
							"chart": "/src/core/charts/23AprFl/54uZoAqr7hnfoS.json",
							"level": "EZ",
							"difficulty": "?6",
							"ranked": false,
							"notes": 1145,
						}],
						"composer": "ARForest",
						"illustrator": "Dynamix",
						"name": "Hemisphere",
						"song": "/src/core/charts/23AprFl/54uZoAqr7hnfoS.mp3",
						"edition": "原版",
						"illustration": "/src/core/charts/23AprFl/54uZoAqr7hnfoS.webp",
						"bpm": "193",
						"duration": "00:02:04",
						"preview_start": "00:01:00",
					},
					tips: [
						"Phi \Tog/ ther",
						"54UyNaQR7GMENr EZ Lv.?6",
						"PhiTogether 将于2022.4.+365更新，本次更新带来了 ■■■■■■",
						"不知道为什么，我感觉今天这谱面搜索框不太对劲......",
						"你们要的判定线不动",
						"出 bug 了，一直没法创建多人游戏房间，这是怎么会事呢"
					],
				}
			},
			filter: {
				allActive() { const l = []; for (const i in partyMgr.list) if (partyMgr.list[i].activate) l.push(i); return l; },
				activateTips() { let l = []; const activated = partyMgr.filter.allActive(); for (const k of activated) if (partyMgr.list[k].tips) l = l.concat(partyMgr.list[k].tips); return l; }
			}
		};
	</script>
	
	<script src="https://www.googletagmanager.com/gtag/js?id=G-NVFVE35LMW"></script>
	
	
	
	
	
	<script src="https://cdn.bootcdn.net/ajax/libs/eruda/2.11.2/eruda.min.js" type="module"></script>
	<link rel="apple-touch-icon" href="/src/core/lg512y512.png" />
	<script>
		if (window.gtagLoaded) {
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
			gtag('config', 'G-NVFVE35LMW');
		}
	</script>
	<script defer> setTimeout(() => { window.scrollTo({ top: 0 }) }, 500) </script>
  <script type="module" crossorigin src="/assets/index-225a660a.js"></script>
  <link rel="stylesheet" href="/assets/index-1a49dc7b.css">
</head>


<body>
	<div class="main" style="text-align: center;">
		<div class="background" onload="getBgScale()"></div>
		<div id="multiplayer" v-cloak></div>
		<div id="app" v-cloak style="display: none;">
			<canvas id="backgroundCanvas" class="backgroundCanvas"></canvas>
			<canvas id="gradientCanvas" class="backgroundCanvas visible" style="z-index:-2;"></canvas>
			<h1 class="title blur" id="ptTitle">
				<span style="margin-left: 12px;"><img src="/src/core/icons/return.svg" v-if="canBack"
						style="height: 32.5px; padding-top: 9px;" @click="$router.back()"
						class="btn-smooth"></img></span>
				<div style="display: grid; margin-left: 12px;">
					<span style="font-size: 47.5%; margin-top: 2px;">Phi<span
							:style="{color: gameMode==='single'?'unset':'#009000'}"
							@click="gameMode==='multi'&&openMultiPanel()">Together</span></span>
					<span id="pageTitle" :style="{'margin-top': '-10px', 'margin-left': '-2px', 'font-size': '90%'}"
						@click="gameMode==='multi'&&openMultiPanel()">PhiTogether</span>
				</div>
				<div class="userInfoBar">
					<div
						style="margin-top: 5px; margin-left: 2px; margin-right: 5px; margin-bottom: 5px;">
						<div style="display: flex;">
							<div style="display: flex; margin-right: 12px; margin-top: -3px;">
								<div style="display: flex;">
									<span style="font-size: 85%;" id="pzUsername"> {{ gameConfig.account.userBasicInfo ? gameConfig.account.userBasicInfo.userName : "GUEST" }} </span>
									<div id="pzNamePlates" style="display: flex;" v-if="gameConfig.account.userBasicInfo && gameConfig.account.userBasicInfo.nameplates">
										<div class="namePlate" v-for="i in gameConfig.account.userBasicInfo.nameplates" :style="{background: i[1]}"><span> {{ i[0] }} </span></div>
									</div>
								</div>
								<div style="display: grid; padding-left: 12px;">
									<span style="font-size: 50%; white-space: nowrap;" id="pzrks">RKS {{ gameConfig.account.userBasicInfo ? gameConfig.account.userBasicInfo.rks.toFixed(3) : "----" }}</span>
									<span style="font-size: 50%; white-space: nowrap; margin-top: -30px;" id="pzexp">EXP {{ gameConfig.account.userBasicInfo ? Math.floor(gameConfig.account.userBasicInfo.experience) : "----" }}</span>
								</div>
							</div>
							<div id="playerCardUsrAvatar" style="margin-top: -5px; background: #66bbff; z-index: 11451419; box-shadow: 0px 0px 30px #0000001f;" :style='{"border-color": userColor}'>
								<img id="pzUserAvatar" :src="gameConfig.account.userBasicInfo ? gameConfig.account.userBasicInfo.avatar : null">
							</div>
						</div>
					</div>
				</div>
			</h1>
			<div id="ptScroller">
				<div class="ptPadding ptPaddingFake"></div>
				<router-view v-slot="{ Component }">
					<keep-alive exclude="login,calibrate,aboutpage,chartupload,userChartEdit,playerB20,pzRankSingle,multiIndex">
						<component :is="Component" />
					</keep-alive>
				</router-view>
				<div id="select" class="disabled">
					<div id="select2" style="display:none;"><br />
						<div id="uploader">
							<input type="button" id="uploader-upload" value="加载本地文件">
							<div id="uploader-select">
								<label id="uploader-file">加载文件</label>
								<label id="uploader-dir">加载文件夹</label>
							</div>
						</div><br />
						<br /><br />
						<div>谱面：<select id="select-chart" class="disabled-when-selected" style="width:6em"></select>
						</div>
						<div>音乐：<select id="select-bgm" style="width:6em" class="disabled-when-selected"></select></div>
						<div>图片：<select id="select-bg" style="width:6em" class="disabled-when-selected"></select></div>
						<br>
						<div>
							<div>曲名：<input id="input-name" class="input textInput" style="width:7em"
									placeholder="&#60; Untitled &#62;">
							</div>
							<div>曲师：<input id="input-artist" class="input textInput" style="width:7em"
									placeholder="&#60; nameless &#62;">
							</div><br>
							<div>画师：<input id="input-illustrator" class="input textInput" style="width:7em"
									placeholder="&#60; nameless &#62;"></div>
							<div>谱师：<input id="input-charter" class="input textInput" style="width:7em"
									placeholder="&#60; nameless &#62;"></div><br>
							<div>等级：<input id="select-difficulty" value="SP" style="width:3em">
								</input>
							</div>
							<div>定数：<input id="select-level" value="?" class="input textInput" style="width:3em">
								</input>
							</div><br>
						</div><br />
					</div>
					<div id="settings" style="display:none;"><br />
						<div style="display:block;">
							<div style="display:none;">
								<div><input type="checkbox" id="showPoint" v-model="gameConfig.showPoint"><label
										for="showPoint">显示定位点</label></div>
								<div><input type="checkbox" id="showStat" v-model="gameConfig.showStat"><label
										for="showStat">显示统计</label></div>
								<div><input type="checkbox" id="lockOri" v-model="gameConfig.lockOri"><label
										for="lockOri">横屏锁定</label></div><br>
								<div class="disabled-when-playing"><input type="checkbox" id="showTransition"
										v-model="gameConfig.showTransition"><label for="showTransition">过渡动画</label>
								</div>
							</div>
						</div>

						<div style="display: block; text-align: left; margin-left: 5%;">
							<div style="display: block;">
								<span
									style="font-size:xx-large; font-weight: bold; color:darkslategray; margin:auto">显示</span>
								<br />
								<div><input type="checkbox" id="showAcc" v-model="gameConfig.showAcc"><label
										for="showAcc">显示Acc</label></div>
								<div><input type="checkbox" id="highLight" v-model="gameConfig.highLight"><label
										for="highLight">多押高亮</label></div>
								<div><input type="checkbox" id="lineColor" v-model="gameConfig.lineColor"><label
										for="lineColor">FC/AP指示器</label></div>
								<br />
								<div><input type="checkbox" id="feedback" v-model="gameConfig.feedback"><label
										for="feedback">触摸反馈</label></div>
								<div><input type="checkbox" id="imageBlur" v-model="gameConfig.imageBlur"><label
										for="imageBlur">背景模糊</label></div>
								<div><input type="checkbox" id="showCE2" v-model="gameConfig.showCE2"><label
										for="showCE2">Early/Late特效</label></div>
								<div><input type="checkbox" id="enableVP" v-model="gameConfig.enableVP"><label
										for="enableVP">隐藏距离较远的音符</label></div>
								<br />
								<div><input type="checkbox" id="enableFR" v-model="gameConfig.enableFR"><label
										for="enableFR">使用单精度浮点运算</label></div>
								<div><input type="checkbox" id="JITSOpen" v-model="gameConfig.JITSOpen"><label
										for="JITSOpen">联机实时排名</label>
								</div>
								<div><input type="checkbox" id="enhanceRankVis"
										v-model="gameConfig.enhanceRankVis"><label
										for="enhanceRankVis">增强实时排名能见度</label></div>
								<br />
								<div><input type="checkbox" id="enableFilter" v-model="gameConfig.enableFilter"><label
										for="enableFilter">启用滤镜</label></div><br />
								<div :style="{display:gameConfig.enableFilter?'block':'none'}"><textarea
										id="filterInput" class="textInput" v-model="gameConfig.filterInput" placeholder="在此输入着色器代码"
										style="width:150px;height:1em;margin-left:10px"></textarea></div><br />
								<div>宽高比：<select id="select-aspect-ratio" style="width:4em"
										v-model="gameConfig.aspectRatio">
										<option value="1.25">5:4</option>
										<option value="1.333333">4:3</option>
										<option value="1.428571">10:7</option>
										<option value="1.461538">19:13</option>
										<option value="1.6">8:5</option>
										<option value="1.666667">5:3</option>
										<option value="1.692308">22:13</option>
										<option value="1.777778">16:9</option>
									</select>
								</div>
								<div>按键缩放：<select id="select-note-scale" style="width:4em"
										v-model="gameConfig.noteScale">
										<option value="0.8">极小</option>
										<option value="0.9">较小</option>
										<option value="1">默认</option>
										<option value="1.15">较大</option>
										<option value="1.3">极大</option>
									</select>
								</div><br>
								<div>背景变暗：<select id="select-background-dim" style="width:4em"
										v-model="gameConfig.backgroundDim">
										<option value="1">黑暗</option>
										<option value="0.8">昏暗</option>
										<option value="0.6">默认</option>
										<option value="0.4">较亮</option>
										<option value="0.2">明亮</option>
									</select>
								</div>
								<div>排名依据偏好：<select id="select-rankmethod" style="width:5em"
										v-model="gameConfig.defaultRankMethod">
										<option value="score">按分数</option>
										<option value="acc">按Acc</option>
									</select>
								</div>
							</div>
							<br />
							<div style="display: block;">
								<span
									style="font-size:xx-large; font-weight: bold; color:darkslategray; margin:auto">性能</span>
								<br />
								<div><input type="checkbox" id="noUIBlur" v-model="gameConfig.noUIBlur"><label
										for="noUIBlur">禁用界面模糊</label></div>
								<div><input type="checkbox" id="lowRes" v-model="gameConfig.lowRes"><label
										for="lowRes">降低渲染精度</label></div>
								<br />
								<div><input type="checkbox" id="autoDelay" v-model="gameConfig.autoDelay"><label
										for="autoDelay">实时延迟矫正（音频卡顿请取消勾选）</label></div>
								<br />
								<div><input type="checkbox" id="isMaxFrame" v-model="gameConfig.isMaxFrame"><label
										for="isMaxFrame">帧率锁定</label></div>
								<input id="maxFrame" type="number" min="25" max="1000" class="input"
									style="width:4em" placeholder="60"
									:style="{display: gameConfig.isMaxFrame?'inline-block':'none'}"
									v-model="gameConfig.maxFrame">
							</div><br />
							<div style="display: block;">
								<span
									style="font-size:xx-large; font-weight: bold; color:darkslategray; margin:auto">资源</span>
								<br />
								<div><input type="checkbox" id="usekwlevelOverbgm"
										v-model="gameConfig.usekwlevelOverbgm"><label
										for="usekwlevelOverbgm">使用旧版结算音乐</label></div><br>
								<div>资源包类型：<select id="select-resource-type" style="width:8em"
										v-model="gameConfig.resourcesType">
										<option value="together-pack-1">预设1</option>
										<option value="together-pack-2">预设2</option>
										<option value="prpr-custom">自定义资源包(暂不可用)</option>
										<option value="pt-custom">PT在线资源包(需手动刷新页面)</option>
									</select>
								</div>
								<div v-if="gameConfig.resourcesType==='prpr-custom'">
									资源包：<select id="select-resource-id" style="width:8em"
										v-model="gameConfig.prprRespackID">
										<option v-for="respack in prprRespacks" v-bind:value="respack.id">{{ `${respack.name} (by ${respack.author})` }}</option>
									</select>
								</div>
								<input type="button" v-on:click="uploadCustomRespack()"
									v-if="gameConfig.resourcesType==='prpr-custom'" value="上传自定义资源包">
								<input type="button"
									onclick="shared.game.msgHandler.info('视频:av998035635 也可在 飞机上的长电视 的B站主页查找', '在B站观看使用与设计教程')"
									v-if="gameConfig.resourcesType==='pt-custom'" value="使用教程">
								<input id="customResourceLink" class="input textInput" style="width:15em"
									placeholder="输入资源的json文件地址"
									:style="{display: gameConfig.resourcesType==='pt-custom'?'inline-block':'none'}"
									v-model="gameConfig.customResourceLink">
								<input type="button" onclick="location.reload()"
									v-if="gameConfig.resourcesType==='pt-custom'" value="刷新页面">
								<br />
								<input id="input-offset" type="number" step="5" class="input textInput" style="display:none;"
									placeholder="0" v-bind:value="chartOffsetActual">
								<div class="disabled-when-playing textInput">输入延迟(ms)：<input id="input-offset-surface"
										type="number" step="5" class="input textInput" style="width:4em" placeholder="0"
										v-model="gameConfig.inputOffset"></div>
								<input type="button" v-on:click="doCalibrate()" value="校准输入延迟"><br />
								<div>音效音量：<select id="select-volume" style="width:5em" v-model="gameConfig.volume">
										<option value="0">关闭</option>
										<option value="0.5">蚊子叫（？</option>
										<option value="1">极轻</option>
										<option value="1.25">较轻</option>
										<option value="1.5" selected>常规</option>
										<option value="2">较响</option>
										<option value="4">极响</option>
									</select>
								</div>
							</div>
							<br />
							<div style="display: block;">
								<span
									style="font-size:xx-large; font-weight: bold; color:darkslategray; margin:auto">试验</span>
								<br />
								<div style="margin:auto;">
									<input type="button" @click="modJudgment()" value="调整判定范围">
								</div>
								<div style="margin:auto;">
									<input type="button" onclick="eruda.init(); document.getElementById('disableDebugBtn').style = 'display:block'; document.getElementById('eruda').style = 'display:block';  document.getElementById('debugBtn').style = 'display:none';"
									value="启用调试工具" id="debugBtn">
									<input type="button" style="display:none;" onclick="document.getElementById('disableDebugBtn').style = 'display:none'; document.getElementById('eruda').style = 'display:none';  document.getElementById('debugBtn').style = 'display:block';"
									value="关闭调试工具" id="disableDebugBtn">
								</div><br />
								<input type="checkbox" id="fullScreenJudge" v-model="gameConfig.fullScreenJudge"><label
									for="fullScreenJudge">全屏判定</label>
								<input type="checkbox" id="stopWhenNoLife" v-model="gameConfig.stopWhenNoLife"><label
									for="stopWhenNoLife">血量为0自动停止</label>
								<input type="checkbox" id="reviewWhenResume"
									v-model="gameConfig.reviewWhenResume"><label for="reviewWhenResume">恢复时预览前3秒</label>
								<br />
								<div><input type="checkbox" id="isForcedMaxFrame" v-model="gameConfig.isForcedMaxFrame"><label
										for="isForcedMaxFrame">强制锁定帧率(可能导致画面卡顿)</label></div>
							</div>
							<br />
							<div v-if="gameConfig.account.userBasicInfo && gameConfig.account.userBasicInfo.isPTDeveloper"
								style="display: block;">
								<span
									style="font-size:xx-large; font-weight: bold; color:darkslategray; margin:auto">内部</span>
								<br />
								<input type="checkbox" id="autoplay" v-model="gameConfig.autoplay"><label
									for="autoplay">Autoplay</label>
								<input type="checkbox" id="competeMode" v-model="gameConfig.competeMode"><label
									for="competeMode">CM</label>
								<input type="checkbox" id="allowNonFullscreen"
									v-model="gameConfig.allowNonFullscreen"><label for="allowNonFullscreen">AnF</label>
								<br />
								<input id="customChartServer" class="input textInput" style="width:15em"
									placeholder="输入自定义谱面服务器地址" v-model="gameConfig.customChartServer">
							</div>
						</div>
					</div>
					<div id="flag" style="margin:auto;display:none;">
						<input id="tipPusher" step="5" class="input" style="width:10em" placeholder="一个有意思的 Tip">
					</div>
					<div id="gameAdjust" style="display:none;">
						<div class="divider">——— 游戏调节 ———</div><br />
						<div id="easyAdjust">
							<div class="">谱面镜像：<select id="select-flip" style="width:4em">
									<option value="0" selected>无</option>
									<option value="1">X 开启</option>
									<option value="2">Y 开启(转板)</option>
									<option value="3">XY 无(转板)</option>
								</select>
							</div>
							<div>
								<div class="disabled-when-playing">音乐变速：<select id="select-speed"
										style="width:4em">
										<option value="Slowest">极慢</option>
										<option value="Slower">较慢</option>
										<option value="" selected>正常</option>
										<option value="Faster">较快</option>
										<option value="Fastest">极快</option>
									</select>
								</div>
							</div>
							<br />
							<div class="disabled-when-playing">谱面延迟(ms)：
								<input id="chart-offset-surface" type="number" step="5" class="input" style="width:4em"
									placeholder="0" v-model="chartOffsetSurface">
							</div><br />
						</div><br /><br />
					</div>
					<div id="playpause" style="display:none;">
						<input type="button" id="btn-play" value="播放">
						<input type="button" id="btn-pause" value="暂停">
					</div>
				</div>
				<div id="stage"></div>
				<div class="ptPadding"></div>
				<!-- <div id="NotiflixNotifyWrap"></div> -->
				<!-- <div id="NotiflixConfirmWrap"></div> -->
				<div style="position: fixed; right: 5px; bottom: 1px; opacity: 0.5; font-size: small; color: whitesmoke; text-align: left; z-index: 114514;"
					v-if="!['/startPage', '/playing'].includes($route.path)">
					PhiTogether {{ thisVersion }}
				</div>
			</div>
		</div>
		<div id="view-msg" style="display:none;"></div>
	</div>
	<noscript><strong style="color:red">此浏览器不支持JavaScript，该程序无法运行。</strong></noscript>
	<script>
		if (spec.isPhiTogetherApp || [80, 443, 1443, "1443", "", "1145"].includes(location.port))
			navigator.serviceWorker.register('/sw.v2.js', { scope: '/' })
				.then(
					registration => { if (!spec.isPhiTogetherApp) window.PT_SERVICE_WORKER = registration },
					err => console.log("SW_Reg_Failed: ", err)
				);
	</script>
</body>

</html>